
@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";

    //define variables
    var name = "Omar Romero Garcia";
    var studentNumber = "101533489";
    var courseCode = "COMP2139";
    var courseSection = "50262";
}

<h2>About</h2>

<div>
    <h2> Welcome to my Application </h2>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
    <p>Section: @courseSection</p>
</div>